.input__container {
    margin-bottom: 22px;
}

.input__container label {
    font-weight: 600;
}

.input-date-container {
    position: relative;
}

.icon-flat-picker-container {
    position: absolute;
    right: 12px;
    top: 57%;
    transform: translate(0, -50%);
}

.hidden {
    display: none;
}

.input-date-container > input {
    box-sizing: border-box;
    height: 36px;
    margin-top: 8px;
    /* border: 1px solid rgb(158 158 158); */
    border: 1px solid #babec5;
    border-radius: 4px;
    padding: 8px 10px 9px 12px;
    width: 100%;
    margin-right: -27px;
}